.heeheeheehee{
    width: 100%;
    margin-top: 0;
    height: 100px;
    font-size: x-large;
    font-family: 'Estonia', cursive;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

.haahoohaahoo{
    font-size: x-large;
    font-family: 'Estonia', cursive;
}

label{
    background-color: honeydew;
    line-height: 5;
    bottom:0;
    width: 100%;
    position: fixed;
    text-align: center;
    color: palevioletred;
    font-size: large;
}

canvas{
    box-shadow: 5px 5px 5px dodgerblue;
    border: 2px dashed hotpink;
}